@charset "utf-8";
/* CSS Document */

body {
	padding: 0px;
	margin: 0px;
	background: #903;
	height: 100%;
	width: 100%;
}
div {
	padding: 0.2em;
	margin: 2em;
	text-align: center;
	background-image: url(Alien_Ink_2560X1600_Abstract_Background_1.jpg);
	margin-top: 4em;
}
h1 {
	color: white;
}
h3 {
	color: #FFF;
	text-align: center;
}
button {
	position: absolute;
	top: 225px;
	left: 262px;
}
